In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from numpy.random import rand

In [7]:
df=pd.DataFrame([['april',25,2020,13],['april',16,1994,10]],columns=['month','day','year','hour'])
df

   month  day  year  hour
0  april   25  2020    13
1  april   16  1994    10

In [8]:
df=pd.DataFrame(rand(4,8))
df

,0,1,2,3,4,5,6,7
0,0.962744,0.211075,0.840529,0.734937,0.622165,0.855465,0.940183,0.592734
1,0.084501,0.458975,0.499548,0.425739,0.381133,0.824729,0.733191,0.914307
2,0.324604,0.604754,0.297578,0.061162,0.206633,0.042376,0.446886,0.857140
3,0.958719,0.487276,0.777394,0.403621,0.315414,0.040133,0.622418,0.024945

In [11]:
df.rename({0:'a',1:'b',2:'c',3:'d',4:'e',5:'f',6:'g',7:'h'},axis='columns')

,a,b,c,d,e,f,g,h
0,0.962744,0.211075,0.840529,0.734937,0.622165,0.855465,0.940183,0.592734
1,0.084501,0.458975,0.499548,0.425739,0.381133,0.824729,0.733191,0.914307
2,0.324604,0.604754,0.297578,0.061162,0.206633,0.042376,0.446886,0.857140
3,0.958719,0.487276,0.777394,0.403621,0.315414,0.040133,0.622418,0.024945

In [16]:
df['mew']=df[4]+df[5]

In [17]:
df

,0,1,2,3,4,5,6,7,mew
0,0.962744,0.211075,0.840529,0.734937,0.622165,0.855465,0.940183,0.592734,1.477630
1,0.084501,0.458975,0.499548,0.425739,0.381133,0.824729,0.733191,0.914307,1.205862
2,0.324604,0.604754,0.297578,0.061162,0.206633,0.042376,0.446886,0.857140,0.249009
3,0.958719,0.487276,0.777394,0.403621,0.315414,0.040133,0.622418,0.024945,0.355547

In [20]:
df=pd.DataFrame(rand(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
df

          W         X         Y         Z
A  0.497238  0.748184  0.396534  0.609023
B  0.873356  0.633916  0.552347  0.172323
C  0.171686  0.598848  0.573903  0.175176
D  0.654657  0.651876  0.207253  0.405381
E  0.311798  0.390531  0.714740  0.612824

In [22]:
df['new']=df['W']+df['Y']

In [23]:
df

          W         X         Y         Z       new
A  0.497238  0.748184  0.396534  0.609023  0.893772
B  0.873356  0.633916  0.552347  0.172323  1.425703
C  0.171686  0.598848  0.573903  0.175176  0.745589
D  0.654657  0.651876  0.207253  0.405381  0.861910
E  0.311798  0.390531  0.714740  0.612824  1.026538

In [26]:
df.drop(['new'],axis=1)

          W         X         Y         Z
A  0.497238  0.748184  0.396534  0.609023
B  0.873356  0.633916  0.552347  0.172323
C  0.171686  0.598848  0.573903  0.175176
D  0.654657  0.651876  0.207253  0.405381
E  0.311798  0.390531  0.714740  0.612824

In [27]:
df

          W         X         Y         Z       new
A  0.497238  0.748184  0.396534  0.609023  0.893772
B  0.873356  0.633916  0.552347  0.172323  1.425703
C  0.171686  0.598848  0.573903  0.175176  0.745589
D  0.654657  0.651876  0.207253  0.405381  0.861910
E  0.311798  0.390531  0.714740  0.612824  1.026538

In [30]:
df.drop(['new'],axis=1,inplace=True)

In [31]:
df

          W         X         Y         Z
A  0.497238  0.748184  0.396534  0.609023
B  0.873356  0.633916  0.552347  0.172323
C  0.171686  0.598848  0.573903  0.175176
D  0.654657  0.651876  0.207253  0.405381
E  0.311798  0.390531  0.714740  0.612824

In [32]:
df

          W         X         Y         Z
A  0.497238  0.748184  0.396534  0.609023
B  0.873356  0.633916  0.552347  0.172323
C  0.171686  0.598848  0.573903  0.175176
D  0.654657  0.651876  0.207253  0.405381
E  0.311798  0.390531  0.714740  0.612824

In [33]:
df[['W','Y']]

          W         Y
A  0.497238  0.396534
B  0.873356  0.552347
C  0.171686  0.573903
D  0.654657  0.207253
E  0.311798  0.714740

In [35]:
df.loc['D']

W    0.654657
X    0.651876
Y    0.207253
Z    0.405381
Name: D, dtype: float64

In [38]:
df['W']>0.5

A    False
B     True
C    False
D     True
E    False
Name: W, dtype: bool

In [40]:
df[df['W']>0.5]['W']

B    0.873356
D    0.654657
Name: W, dtype: float64

In [43]:
juice=[10,29,25,49]
syrup=['red','blue','green','red']
mix={'red':10,'blue':29,'green':25,'red':49}

In [45]:
mix['red']

49

In [48]:
mix['yell']=90

In [49]:
mix

{'red': 49, 'blue': 29, 'green': 25, 'yell': 90}

In [50]:
del(mix['green'])

In [51]:
mix

{'red': 49, 'blue': 29, 'yell': 90}

In [53]:
fox=[1,2,3,45]
rat=[num+1 for num in fox]
print(rat)

[2, 3, 4, 46]

In [56]:
hen=[num+1 for num in range(11)]
hen

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [57]:
fam=['liz',16,'pet',17,'rex',12,'cho',10]
fam

['liz', 16, 'pet', 17, 'rex', 12, 'cho', 10]

In [58]:
fam + ['ma',16]

['liz', 16, 'pet', 17, 'rex', 12, 'cho', 10, 'ma', 16]

In [60]:
del(fam[4:5])

In [61]:
fam

['liz', 16, 'pet', 17, 12, 'cho', 10]

In [62]:
fam[::-1]

[10, 'cho', 12, 17, 'pet', 16, 'liz']

In [65]:
fam + ['rel',13,'rol',25]

['liz', 16, 'pet', 17, 12, 'cho', 10, 'rel', 13, 'rol', 25]

In [66]:
del(fam[3])

In [67]:
fam

['liz', 16, 'pet', 12, 'cho', 10]