In [1]:
import pandas as pd

In [2]:

df = pd.DataFrame ([['April',15,2021,13],['March',13,1994,14]],columns=['month','day','year','hour'])
df

   month  day  year  hour
0  April   15  2021    13
1  March   13  1994    14

In [3]:
from numpy.random import rand

In [4]:
df=pd.DataFrame(rand(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
df

          W         X         Y         Z
A  0.337255  0.731081  0.103688  0.499559
B  0.441164  0.191065  0.964297  0.125914
C  0.681601  0.870290  0.294744  0.481847
D  0.528047  0.807414  0.798842  0.224061
E  0.563014  0.861097  0.703451  0.319621

In [9]:
df[['W','Y']]

          W         Y
A  0.712447  0.433619
B  0.295487  0.678028
C  0.836463  0.899503
D  0.324767  0.308249
E  0.775633  0.977102

In [6]:
df=pd.DataFrame([['april',26,2021,20],['january',25,1994,8]],columns = ['month','day','year','day'])
df

     month  day  year  day
0    april   26  2021   20
1  january   25  1994    8

In [7]:
df=pd.DataFrame(rand(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
df

          W         X         Y         Z
A  0.712447  0.160803  0.433619  0.207681
B  0.295487  0.363894  0.678028  0.166568
C  0.836463  0.758623  0.899503  0.731595
D  0.324767  0.487009  0.308249  0.435888
E  0.775633  0.658861  0.977102  0.186553

In [10]:
df[['W','Y']]

          W         Y
A  0.712447  0.433619
B  0.295487  0.678028
C  0.836463  0.899503
D  0.324767  0.308249
E  0.775633  0.977102

In [12]:
df['Z']

A    0.207681
B    0.166568
C    0.731595
D    0.435888
E    0.186553
Name: Z, dtype: float64

In [21]:
fox=[1,2,3,4,5,6,7]
fan=[num+1 for num in fox]
print(fan)

[2, 3, 4, 5, 6, 7, 8]

In [25]:
fox=[1,2,3,4,5]
fan=[]
for num in fox:
    fan.append(num+1)
print(fan)

[2, 3, 4, 5, 6]

In [26]:
hen=[num for num in range(18)]
hen

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [27]:
hen[::-1]

[17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [31]:
hen[15]=5
hen

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 5, 16, 17]

In [32]:
goat=[18,80]
sheep=[]
for num in goat:
    sheep.append(num+1)
print(sheep)

[19, 81]

In [33]:
fam=['emma',16,'tboy',1.3,'fru','joy','ben','false']
fam

['emma', 16, 'tboy', 1.3, 'fru', 'joy', 'ben', 'false']

In [34]:
fam[1:3]

[16, 'tboy']

In [39]:
fam[3]='dian'
fam

['emma', 16, 'tboy', 'dian', 'fru', 'joy', 'ben', 'false']