In [1]:
#conditional construct
y='dark'
if y=='open the door':
    print('will go to the party')
else:
    print('will not go to the party')

will not go to the party

In [2]:
x='light'
if x=='light':
    print('welcome to the party')
else:
    print('will not go to the party')

welcome to the party

In [6]:
mix=int(input('user num'))
if mix%2==0:
    print('even number')
elif mix%2==1:
    print('odd number')
else:
    print('none')

user num123
odd number

In [7]:
a=int(input('user number')
b=int(input('user number')
if a>b:
      print('a')
else:
      print('b')

SyntaxError: invalid syntax (<ipython-input-7-4e199f2cd7d5>, line 2)

In [17]:
fa=[1,2,3,4,5]
fa_sum=0
for num in fa:
    fa_sum=fa_sum+num
print(fa_sum)

15

In [15]:
a=[1,2,3,4,5]
a_mul=1
for num in a:
    a_mul=(a_mul+num)
print(a_mul)

16

In [18]:
fam=[1,2,3,4,5]
fam_sum=0
for num in fam:
    fam_sum=fam_sum+num
print(fam_sum)

15

In [19]:
yet=[7,8,9,4,5]
yet_mul=1
for num in yet:
    yet_mul=yet_mul+num
print(yet_mul)

34

In [20]:
a=int(input('user num'))
for i in(range(1,5)):
    if i%3==0:
        print('its divisible 3',i)
    elif i%5==0:
        print('its divisible bt 5',i)
    else:
        print(i)

user num100
1
2
its divisible 3 3
4

In [21]:
fod=[1,2,3,4]
hen=[num+1 for num in fod]
print(hen)

[2, 3, 4, 5]

In [22]:
mex=[num for num in range(10)]
mex

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
gran=['mas','kay','ku','ma','ran']
nu=[1,2,3,4,5]
mix={'mas':1,'kay':2,'ku':3,'ma':4,'ran':5}

In [24]:
mix

{'mas': 1, 'kay': 2, 'ku': 3, 'ma': 4, 'ran': 5}

In [30]:
mix['tammy']=12

In [31]:
mix

{'mas': 1, 'kay': 2, 'ku': 3, 'ma': 4, 'ran': 5, 'tammy': 12}

In [35]:
del(mix['mas'])

In [36]:
mix

{'kay': 2, 'ku': 3, 'ma': 4, 'ran': 5, 'tammy': 12}

In [37]:
import pandas as pd

In [38]:
import numpy as np

In [39]:
from numpy.random import rand

In [45]:
df=pd.DataFrame([[4,3,2021,5],[3,2,1994,2]],columns=['month','day','year','hour'])
df

   month  day  year  hour
0      4    3  2021     5
1      3    2  1994     2

In [47]:
df.describe()

          month       day         year     hour
count  2.000000  2.000000     2.000000  2.00000
mean   3.500000  2.500000  2007.500000  3.50000
std    0.707107  0.707107    19.091883  2.12132
min    3.000000  2.000000  1994.000000  2.00000
25%    3.250000  2.250000  2000.750000  2.75000
50%    3.500000  2.500000  2007.500000  3.50000
75%    3.750000  2.750000  2014.250000  4.25000
max    4.000000  3.000000  2021.000000  5.00000

In [48]:
df['new']=df['hour']+df['year']

In [49]:
df

   month  day  year  hour   new
0      4    3  2021     5  2026
1      3    2  1994     2  1996

In [54]:
df.drop(['new'],axis=1)

   month  day  year  hour
0      4    3  2021     5
1      3    2  1994     2

In [55]:
df

   month  day  year  hour   new
0      4    3  2021     5  2026
1      3    2  1994     2  1996

In [56]:
df.drop(['new'],axis=1,inplace=True)

In [57]:
df

   month  day  year  hour
0      4    3  2021     5
1      3    2  1994     2

In [63]:
df.iloc[1]

month       3
day         2
year     1994
hour        2
Name: 1, dtype: int64

In [64]:
df['year']

0    2021
1    1994
Name: year, dtype: int64

In [65]:
df[['day','hour']]

   day  hour
0    3     5
1    2     2

In [72]:
df['day']>2

0     True
1    False
Name: day, dtype: bool

In [73]:
df(df['year']>15) & (df['day']>2)['day']

TypeError: 'DataFrame' object is not callable

In [75]:
df

   month  day  year  hour
0      4    3  2021     5
1      3    2  1994     2

In [77]:
df.rename({month:'a',day:'b',year:'c',hour:'5'})

NameError: name 'month' is not defined

FileNotFoundError: [Errno 2] No such file or directory: 'student_scores.xlsx'